PORT=8000
# Standard (non-SRV) connection string from Atlas.
# Replace <db_password_encoded> with your URL-encoded password.
MONGODB_URI=mongodb://faiza:<db_password_encoded>@ac-hahlaqu-shard-00-00.vuln8zo.mongodb.net:27017,ac-hahlaqu-shard-00-01.vuln8zo.mongodb.net:27017,ac-hahlaqu-shard-00-02.vuln8zo.mongodb.net:27017/videotube?ssl=true&replicaSet=atlas-12t09c-shard-0&authSource=admin&appName=Cluster0

CORS_ORIGIN=*